#%RAML 1.0
title: balance
baseUri: http://heidianapi.com

types:
  OrderSerializer:
    type: object
    properties:
      image:
        required: false
        type: string
      id:
        required: false
        type: integer
      title:
        required: false
        type: string

  BalanceOutSerializer:
    type: object
    properties:
      alipay:
        required: false
        type: string
      status:
        required: false
        type: string
      created_at:
        required: false
        type: string
      request_money:
        required: false
        type: string
      last_checked_at:
        required: false
        type: string
      reason:
        required: false
        type: string
      full_name:
        required: false
        type: string
      charge_fee:
        required: false
        type: string
      id:
        required: false
        type: integer
      final_money:
        required: false
        type: string

  WalletSerializer:
    type: object
    properties:
      alipay:
        required: false
        type: string
      balance:
        required: true
        type: string
      id:
        required: false
        type: integer
      full_name:
        required: false
        type: string

  BalanceInSerializer:
    type: object
    properties:
      status:
        required: false
        type: string
      created_at:
        required: false
        type: string
      transaction_number:
        required: false
        type: string
      transaction_type:
        required: false
        type: string
      amount:
        required: false
        type: string
      delegated:
        required: false
        type: boolean
      order:
        required: false
        type: OrderSerializer
      id:
        required: false
        type: integer
      channel:
        required: true
        type: string

  WriteBalanceOutSerializer:
    type: object
    properties:

  WriteOrderSerializer:
    type: object
    properties:

  WriteBalanceInSerializer:
    type: object
    properties:
      channel:
        required: true
        type: string

  WriteWalletSerializer:
    type: object
    properties:
      alipay:
        required: false
        type: string
      balance:
        required: true
        type: string
      full_name:
        required: false
        type: string



/api/balance/in/:
  get:
    queryParameters:
      page:
        required: false
        type: integer
      page_size:
        required: false
        type: integer

    responses:
      200:
        body:
          application/json:
            type: BalanceInSerializer[]


/api/balance/in/{pk}/:
  get:
    responses:
      200:
        body:
          application/json:
            type: BalanceInSerializer


/api/balance/out/:
  get:
    queryParameters:
      page:
        required: false
        type: integer
      page_size:
        required: false
        type: integer
      created_at_from:
        required: false
        type: string
      created_at_to:
        required: false
        type: string
      order_by:
        required: false
        enum:
          - id
          - -id
          - created_at
          - -created_at

    responses:
      200:
        body:
          application/json:
            type: BalanceOutSerializer[]

  post:
    body:
      application/json:
        type: WriteBalanceOutSerializer

    responses:
      200:
        body:
          application/json:
            type: BalanceOutSerializer


/api/balance/out/{pk}/:
  patch:
    body:
      application/json:
        type: WriteBalanceOutSerializer

    responses:
      200:
        body:
          application/json:
            type: BalanceOutSerializer

  get:
    responses:
      200:
        body:
          application/json:
            type: BalanceOutSerializer

  put:
    body:
      application/json:
        type: WriteBalanceOutSerializer

    responses:
      200:
        body:
          application/json:
            type: BalanceOutSerializer

  delete:
    responses:
      200:


/api/balance/wallet/:
  get:
    responses:
      200:
        body:
          application/json:
            type: WalletSerializer[]


/api/balance/wallet/{pk}/:
  get:
    responses:
      200:
        body:
          application/json:
            type: WalletSerializer




