#%RAML 1.0
title: 嘿店开放平台 API
version: v1
baseUri: http://api.heidianer.com


types:
  WriteProductVariantSerializer:
    type: object
    properties:
      sku:
        required: true
        type: string
      price:
        required: false
        type: string
      grams:
        required: false
        type: string
      options:
        required: true
        type: WriteProductOptionValueSerializer[]

  CouponSerializer:
    type: object
    properties:
      ends_at:
        required: false
        type: string
      is_forever:
        required: false
        type: boolean
      description:
        required: false
        type: string
      title:
        required: false
        type: string
      created_at:
        required: false
        type: string
      code_prefix:
        required: true
        type: string
      value:
        required: false
        type: string
      discount_type:
        required: false
        type: string
      verbose_title:
        required: false
        type: string
      is_limit_once:
        required: false
        type: boolean
      starts_at:
        required: false
        type: string
      minimum_amount:
        required: false
        type: string
      id:
        required: false
        type: integer
      quantity:
        required: false
        type: integer

  CouponCodeSerializer:
    type: object
    properties:
      coupon:
        required: false
        type: CouponSerializer
      status:
        required: false
        type: string
      code:
        required: true
        type: string
      id:
        required: false
        type: integer
      used_at:
        required: false
        type: string

  WriteAuthTokenSerializer:
    type: object
    properties:
      mobile:
        required: true
        type: string
      password:
        required: false
        type: string
      code:
        required: false
        type: string

  PasswordCustomerSerializer:
    type: object
    properties:
      mobile:
        required: false
        type: string
      gender:
        required: false
        type: string
      cart_token:
        required: false
        type: string
      email:
        required: false
        type: string
      token:
        required: false
        type: string
      birthday:
        required: false
        type: string
      full_name:
        required: false
        type: string
      id:
        required: false
        type: integer

  WritePlaceSerializer:
    type: object
    properties:
      code:
        required: true
        type: string
      short_name:
        required: false
        type: string
      name:
        required: true
        type: string
      parent:
        required: false
        type: string
      area:
        required: false
        type: string

  OrderLineSerializer:
    type: object
    properties:
      product:
        required: false
        type: ProductSerializer
      total_price:
        required: false
        type: string
      title:
        required: false
        type: string
      variant:
        required: false
        type: ProductVariantSerializer
      image:
        required: false
        type: string
      requires_shipping:
        required: false
        type: boolean
      price:
        required: false
        type: string
      variant_title:
        required: false
        type: string
      quantity:
        required: false
        type: integer
      id:
        required: false
        type: integer
      product_title:
        required: false
        type: string

  CustomerAddressSerializer:
    type: object
    properties:
      province:
        required: false
        type: string
      city:
        required: false
        type: string
      district:
        required: false
        type: string
      mobile:
        required: false
        type: string
      address1:
        required: false
        type: string
      address2:
        required: false
        type: string
      is_default:
        required: false
        type: boolean
      full_name:
        required: false
        type: string
      country:
        required: false
        type: string
      id:
        required: false
        type: integer

  ProductSerializer:
    type: object
    properties:
      title:
        required: false
        type: string
      id:
        required: false
        type: integer
      name:
        required: true
        type: string

  ProductOptionValueSerializer:
    type: object
    properties:
      value:
        required: false
        type: string
      title:
        required: true
        type: string

  WriteCustomerAddressSerializer:
    type: object
    properties:
      province:
        required: false
        type: string
      city:
        required: false
        type: string
      district:
        required: false
        type: string
      mobile:
        required: false
        type: string
      address1:
        required: false
        type: string
      address2:
        required: false
        type: string
      is_default:
        required: false
        type: boolean
      full_name:
        required: false
        type: string
      country:
        required: false
        type: string

  WriteOrderLineSerializer:
    type: object
    properties:
      variant_title:
        required: false
        type: string
      image:
        required: false
        type: string
      product_title:
        required: false
        type: string
      requires_shipping:
        required: false
        type: boolean
      title:
        required: false
        type: string

  FulfillmentSerializer:
    type: object
    properties:
      status:
        required: false
        type: string
      kd100_data:
        required: false
        type: string
      tracking_info:
        required: false
        type: string
      tracking_url:
        required: false
        type: string
      tracking_number:
        required: false
        type: string
      tracking_company:
        required: false
        type: string
      id:
        required: false
        type: integer

  ShippingAddressSerializer:
    type: object
    properties:
      province:
        required: false
        type: string
      city:
        required: false
        type: string
      metafield:
        required: false
        type: string
      district:
        required: false
        type: string
      mobile:
        required: false
        type: string
      address1:
        required: false
        type: string
      address2:
        required: false
        type: string
      updated_at:
        required: false
        type: string
      id:
        required: false
        type: integer
      customer_address_id:
        required: false
        type: integer
      place:
        required: false
        type: PlaceSerializer
      full_name:
        required: false
        type: string
      country:
        required: false
        type: string
      created_at:
        required: false
        type: string

  WritePasswordCustomerSerializer:
    type: object
    properties:
      mobile:
        required: false
        type: string
      gender:
        required: false
        type: string
      birthday:
        required: false
        type: string
      full_name:
        required: false
        type: string
      password:
        required: true
        type: string
      email:
        required: false
        type: string

  WriteShippingAddressSerializer:
    type: object
    properties:
      province:
        required: false
        type: string
      city:
        required: false
        type: string
      metafield:
        required: false
        type: string
      district:
        required: false
        type: string
      mobile:
        required: false
        type: string
      address1:
        required: false
        type: string
      address2:
        required: false
        type: string
      customer_address_id:
        required: false
        type: integer
      place_code:
        required: false
        type: string
      full_name:
        required: false
        type: string
      country:
        required: false
        type: string

  PlaceSerializer:
    type: object
    properties:
      code:
        required: true
        type: string
      parent:
        required: false
        type: string
      short_name:
        required: false
        type: string
      area:
        required: false
        type: string
      id:
        required: false
        type: integer
      name:
        required: true
        type: string

  WriteCouponCodeSerializer:
    type: object
    properties:
      status:
        required: false
        type: string
      code:
        required: true
        type: string
      used_at:
        required: false
        type: string

  WriteProductSerializer:
    type: object
    properties:
      name:
        required: true
        type: string
      title:
        required: false
        type: string

  WriteOrderSerializer:
    type: object
    properties:
      is_test:
        required: false
        type: boolean
      metafield:
        required: false
        type: string
      buyer_accepts_marketing:
        required: false
        type: boolean
      mobile:
        required: false
        type: string
      note:
        required: false
        type: string
      full_name:
        required: false
        type: string
      shipping_address:
        required: true
        type: ShippingAddressSerializer
      email:
        required: false
        type: string

  WriteCouponSerializer:
    type: object
    properties:
      ends_at:
        required: false
        type: string
      is_forever:
        required: false
        type: boolean
      description:
        required: false
        type: string
      title:
        required: false
        type: string
      code_prefix:
        required: true
        type: string
      value:
        required: false
        type: string
      discount_type:
        required: false
        type: string
      is_limit_once:
        required: false
        type: boolean
      starts_at:
        required: false
        type: string
      minimum_amount:
        required: false
        type: string
      quantity:
        required: false
        type: integer

  WriteProductOptionValueSerializer:
    type: object
    properties:
      value:
        required: false
        type: string
      title:
        required: true
        type: string

  OrderSerializer:
    type: object
    properties:
      subtotal_price:
        required: false
        type: string
      buyer_accepts_marketing:
        required: false
        type: boolean
      cart_token:
        required: false
        type: string
      requires_shipping:
        required: false
        type: string
      updated_at:
        required: false
        type: string
      is_test:
        required: false
        type: boolean
      total_weight:
        required: false
        type: string
      full_name:
        required: false
        type: string
      shipping_cost:
        required: false
        type: string
      closed_at:
        required: false
        type: string
      id:
        required: false
        type: integer
      metafield:
        required: false
        type: string
      fulfillments:
        required: false
        type: FulfillmentSerializer[]
      financial_status:
        required: false
        type: string
      note:
        required: false
        type: string
      discounts:
        required: false
        type: OrderDiscountSerializer[]
      total_line_items_price:
        required: false
        type: string
      cancelled_at:
        required: false
        type: string
      order_status:
        required: false
        type: string
      email:
        required: false
        type: string
      cancel_reason:
        required: false
        type: string
      total_discounts:
        required: false
        type: string
      referring_platform:
        required: false
        type: string
      payment_time:
        required: false
        type: string
      total_price:
        required: false
        type: string
      mobile:
        required: false
        type: string
      created_at:
        required: false
        type: string
      lines:
        required: false
        type: OrderLineSerializer[]
      fulfillment_status:
        required: false
        type: string
      token:
        required: false
        type: string
      shipping_address:
        required: true
        type: ShippingAddressSerializer
      payment_number:
        required: false
        type: string
      order_number:
        required: false
        type: string

  AuthTokenSerializer:
    type: object
    properties:
      mobile:
        required: true
        type: string
      password:
        required: false
        type: string
      code:
        required: false
        type: string

  ProductVariantSerializer:
    type: object
    properties:
      sku:
        required: true
        type: string
      grams:
        required: false
        type: string
      title:
        required: false
        type: string
      image:
        required: false
        type: string
      id:
        required: false
        type: integer
      options:
        required: true
        type: ProductOptionValueSerializer[]
      price:
        required: false
        type: string

  WriteFulfillmentSerializer:
    type: object
    properties:
      status:
        required: false
        type: string
      tracking_number:
        required: false
        type: string
      tracking_info:
        required: false
        type: string
      tracking_url:
        required: false
        type: string
      tracking_company:
        required: false
        type: string

  OrderDiscountSerializer:
    type: object
    properties:
      code:
        required: false
        type: string
      source_type:
        required: false
        type: string
      order_id:
        required: false
        type: integer
      value:
        required: false
        type: string
      discount_type:
        required: false
        type: string
      source:
        required: false
        type: string
      source_id:
        required: false
        type: integer
      id:
        required: false
        type: integer

  WriteOrderDiscountSerializer:
    type: object
    properties:




/api/customers/order/:
  post:
    body:
      application/json:
        type: WriteOrderSerializer

    responses:
      200:
        body:
          application/json:
            type: OrderSerializer

  get:
    queryParameters:
      page:
        required: false
        type: integer
      page_size:
        required: false
        type: integer
      id:
        required: false
        type: string
      id__in:
        required: false
        type: string
      order_status:
        required: false
        enum:
          - open
          - closed
          - cancelled
      order_status__in:
        required: false
        type: string
      order_number:
        required: false
        type: string
      order_number__in:
        required: false
        type: string
      fulfillment_status:
        required: false
        enum:
          - null
          - partial
          - fulfilled
      fulfillment_status__in:
        required: false
        type: string
      financial_status:
        required: false
        enum:
          - pending
          - paid
          - refunded
      financial_status__in:
        required: false
        type: string
      order_by:
        required: false
        enum:
          - id
          - -id
          - created_at
          - -created_at

    responses:
      200:
        body:
          application/json:
            type: OrderSerializer[]



/api/customers/order/{pk}/:
  patch:
    body:
      application/json:
        type: WriteOrderSerializer

    responses:
      200:
        body:
          application/json:
            type: OrderSerializer

  get:
    responses:
      200:
        body:
          application/json:
            type: OrderSerializer

  delete:
    responses:
      200:
        body:
          application/json:
            type: OrderSerializer

  put:
    body:
      application/json:
        type: WriteOrderSerializer

    responses:
      200:
        body:
          application/json:
            type: OrderSerializer



/api/customers/order/{pk}/buy_again/:
  post:
    body:
      application/json:
        type: WriteOrderSerializer

    responses:
      200:
        body:
          application/json:
            type: OrderSerializer



/api/customers/coupon_code/:
  get:
    queryParameters:
      page:
        required: false
        type: integer
      page_size:
        required: false
        type: integer

    responses:
      200:
        body:
          application/json:
            type: CouponCodeSerializer[]



/api/customers/coupon_code/{pk}/:
  get:
    responses:
      200:
        body:
          application/json:
            type: CouponCodeSerializer



/api/customers/address/:
  post:
    body:
      application/json:
        type: WriteCustomerAddressSerializer

    responses:
      200:
        body:
          application/json:
            type: CustomerAddressSerializer

  get:
    responses:
      200:
        body:
          application/json:
            type: CustomerAddressSerializer[]



/api/customers/address/{pk}/:
  patch:
    body:
      application/json:
        type: WriteCustomerAddressSerializer

    responses:
      200:
        body:
          application/json:
            type: CustomerAddressSerializer

  get:
    responses:
      200:
        body:
          application/json:
            type: CustomerAddressSerializer

  delete:
    responses:
      200:
        body:
          application/json:
            type: CustomerAddressSerializer

  put:
    body:
      application/json:
        type: WriteCustomerAddressSerializer

    responses:
      200:
        body:
          application/json:
            type: CustomerAddressSerializer



/api/customers/ordertoken/{token}/:
  patch:
    body:
      application/json:
        type: WriteOrderSerializer

    responses:
      200:
        body:
          application/json:
            type: OrderSerializer

  get:
    responses:
      200:
        body:
          application/json:
            type: OrderSerializer

  delete:
    responses:
      200:
        body:
          application/json:
            type: OrderSerializer

  put:
    body:
      application/json:
        type: WriteOrderSerializer

    responses:
      200:
        body:
          application/json:
            type: OrderSerializer



/api/customers/ordertoken/{token}/bind_discount/:
  post:
    body:
      application/json:
        type: WriteOrderSerializer

    responses:
      200:
        body:
          application/json:
            type: OrderSerializer



/api/customers/ordertoken/{token}/remove_discount/:
  post:
    body:
      application/json:
        type: WriteOrderSerializer

    responses:
      200:
        body:
          application/json:
            type: OrderSerializer



/api/customers/ordertoken/{token}/usable_coupon_codes/:
  get:
    responses:
      200:
        body:
          application/json:
            type: OrderSerializer



/api/customers/customer/:
  get:
    responses:
      200:
        body:
          application/json:
            type: PasswordCustomerSerializer

  post:
    body:
      application/json:
        type: WritePasswordCustomerSerializer

    responses:
      200:
        body:
          application/json:
            type: PasswordCustomerSerializer

  put:
    body:
      application/json:
        type: WritePasswordCustomerSerializer

    responses:
      200:
        body:
          application/json:
            type: PasswordCustomerSerializer

  patch:
    body:
      application/json:
        type: WritePasswordCustomerSerializer

    responses:
      200:
        body:
          application/json:
            type: PasswordCustomerSerializer



/api/customers/login/quick/:
  post:
    body:
      application/json:
        type: object

    responses:
      200:
        body:
          application/json:
            type: object



/api/customers/login/:
  post:
    body:
      application/json:
        type: WriteAuthTokenSerializer

    responses:
      200:
        body:
          application/json:
            type: AuthTokenSerializer



/api/customers/password/forgot/:
  post:
    body:
      application/json:
        type: object

    responses:
      200:
        body:
          application/json:
            type: object



/api/customers/password/reset/:
  post:
    body:
      application/json:
        type: object

    responses:
      200:
        body:
          application/json:
            type: object


