#%RAML 1.0
title: medias
baseUri: http://heidianapi.com

types:
  FileSerializer:
    type: object
    properties:
      src:
        required: false
        type: string
      metafield:
        required: false
        type: string
      origin_file_type:
        required: false
        type: string
      parent:
        required: false
        type: string
      title:
        required: true
        type: string
      file_type:
        required: false
        type: string
      created_at:
        required: false
        type: string
      updated_at:
        required: false
        type: string
      height:
        required: false
        type: integer
      width:
        required: false
        type: integer
      orientation:
        required: false
        type: string
      children_id:
        required: false
        type: string
      image_ave:
        required: false
        type: string
      file_size:
        required: false
        type: integer
      path:
        required: false
        type: string
      title_pinyin:
        required: false
        type: string
      id:
        required: false
        type: integer
      description:
        required: false
        type: string

  WriteFileSerializer:
    type: object
    properties:
      src:
        required: false
        type: string
      metafield:
        required: false
        type: string
      origin_file_type:
        required: false
        type: string
      parent:
        required: false
        type: string
      title:
        required: true
        type: string
      file_type:
        required: false
        type: string
      height:
        required: false
        type: integer
      width:
        required: false
        type: integer
      orientation:
        required: false
        type: string
      children_id:
        required: false
        type: string
      image_ave:
        required: false
        type: string
      file_size:
        required: false
        type: integer
      path:
        required: false
        type: string
      title_pinyin:
        required: false
        type: string
      description:
        required: false
        type: string



/api/medias/all_folders/:
  get:
    queryParameters:
      id:
        required: false
        type: string
      id__in:
        required: false
        type: string
      parent:
        required: false
        type: string
      order_by:
        required: false
        enum:
          - updated_at
          - -updated_at
          - created_at
          - -created_at
          - title
          - -title
          - title_pinyin
          - -title_pinyin
          - path
          - -path

    responses:
      200:
        body:
          application/json:
            type: FileSerializer


/api/medias/all_material_folders/:
  get:
    queryParameters:
      id:
        required: false
        type: string
      id__in:
        required: false
        type: string
      parent:
        required: false
        type: string
      order_by:
        required: false
        enum:
          - updated_at
          - -updated_at
          - created_at
          - -created_at
          - title
          - -title
          - title_pinyin
          - -title_pinyin
          - path
          - -path

    responses:
      200:
        body:
          application/json:
            type: FileSerializer


/api/medias/file/:
  post:
    body:
      application/json:
        type: WriteFileSerializer

    responses:
      200:
        body:
          application/json:
            type: FileSerializer

  get:
    queryParameters:
      page:
        required: false
        type: integer
      page_size:
        required: false
        type: integer
      file_type:
        required: false
        enum:
          - _folder
          - image
          - video
          - audio
          - other
      file_type__in:
        required: false
        type: string
      id:
        required: false
        type: string
      id__in:
        required: false
        type: string
      parent:
        required: false
        type: string
      order_by:
        required: false
        enum:
          - updated_at
          - -updated_at
          - created_at
          - -created_at
          - title
          - -title
          - title_pinyin
          - -title_pinyin
          - path
          - -path

    responses:
      200:
        body:
          application/json:
            type: FileSerializer[]


/api/medias/file/{pk}/:
  put:
    body:
      application/json:
        type: WriteFileSerializer

    responses:
      200:
        body:
          application/json:
            type: FileSerializer

  get:
    responses:
      200:
        body:
          application/json:
            type: FileSerializer

  patch:
    body:
      application/json:
        type: WriteFileSerializer

    responses:
      200:
        body:
          application/json:
            type: FileSerializer

  delete:
    responses:
      200:


/api/medias/material/:
  post:
    body:
      application/json:
        type: WriteFileSerializer

    responses:
      200:
        body:
          application/json:
            type: FileSerializer

  get:
    queryParameters:
      page:
        required: false
        type: integer
      page_size:
        required: false
        type: integer
      file_type:
        required: false
        enum:
          - _folder
          - image
          - video
          - audio
          - other
      file_type__in:
        required: false
        type: string
      id:
        required: false
        type: string
      id__in:
        required: false
        type: string
      parent:
        required: false
        type: string
      order_by:
        required: false
        enum:
          - updated_at
          - -updated_at
          - created_at
          - -created_at
          - title
          - -title
          - title_pinyin
          - -title_pinyin
          - path
          - -path

    responses:
      200:
        body:
          application/json:
            type: FileSerializer[]


/api/medias/material/{pk}/:
  put:
    body:
      application/json:
        type: WriteFileSerializer

    responses:
      200:
        body:
          application/json:
            type: FileSerializer

  get:
    responses:
      200:
        body:
          application/json:
            type: FileSerializer

  patch:
    body:
      application/json:
        type: WriteFileSerializer

    responses:
      200:
        body:
          application/json:
            type: FileSerializer

  delete:
    responses:
      200:




