#%RAML 1.0
title: 嘿店开放平台 API
version: v1
baseUri: http://api.heidianer.com


types:
  WriteCustomerNotificationSerializer:
    type: object
    properties:
      category:
        required: true
        type: string
      content:
        required: false
        type: string
      is_read:
        required: false
        type: boolean
      detail:
        required: false
        type: string

  WriteNotificationCategorySerializer:
    type: object
    properties:
      kind:
        required: false
        type: string
      description:
        required: false
        type: string
      name:
        required: true
        type: string
      title:
        required: false
        type: string

  NotificationCategorySerializer:
    type: object
    properties:
      kind:
        required: false
        type: string
      description:
        required: false
        type: string
      allow_email_enable:
        required: false
        type: boolean
      title:
        required: false
        type: string
      allow_sms_enable:
        required: false
        type: boolean
      id:
        required: false
        type: integer
      name:
        required: true
        type: string

  ShopNotificationSerializer:
    type: object
    properties:
      category:
        required: true
        type: string
      is_read:
        required: false
        type: boolean
      kind:
        required: false
        type: string
      created_at:
        required: false
        type: string
      detail:
        required: false
        type: string
      content:
        required: false
        type: string
      id:
        required: false
        type: integer

  CustomerNotificationSerializer:
    type: object
    properties:
      category:
        required: true
        type: string
      is_read:
        required: false
        type: boolean
      kind:
        required: false
        type: string
      created_at:
        required: false
        type: string
      detail:
        required: false
        type: string
      content:
        required: false
        type: string
      id:
        required: false
        type: integer

  WriteShopNotificationSerializer:
    type: object
    properties:
      category:
        required: true
        type: string
      content:
        required: false
        type: string
      is_read:
        required: false
        type: boolean
      detail:
        required: false
        type: string




/api/notifications/category/:
  get:
    queryParameters:
      page:
        required: false
        type: integer
      page_size:
        required: false
        type: integer
      kind:
        required: false
        type: string
      kind__in:
        required: false
        type: string
      id:
        required: false
        type: string
      id__in:
        required: false
        type: string

    responses:
      200:
        body:
          application/json:
            schema: NotificationCategorySerializer[]



/api/notifications/category/{pk}/dashboard_disable/:
  post:
    body:
      application/json:
        schema: WriteNotificationCategorySerializer

    responses:
      200:
        body:
          application/json:
            schema: NotificationCategorySerializer



/api/notifications/category/{pk}/dashboard_enable/:
  post:
    body:
      application/json:
        schema: WriteNotificationCategorySerializer

    responses:
      200:
        body:
          application/json:
            schema: NotificationCategorySerializer



/api/notifications/category/{pk}/email_disable/:
  post:
    body:
      application/json:
        schema: WriteNotificationCategorySerializer

    responses:
      200:
        body:
          application/json:
            schema: NotificationCategorySerializer



/api/notifications/category/{pk}/email_enable/:
  post:
    body:
      application/json:
        schema: WriteNotificationCategorySerializer

    responses:
      200:
        body:
          application/json:
            schema: NotificationCategorySerializer



/api/notifications/category/{pk}/sms_disable/:
  post:
    body:
      application/json:
        schema: WriteNotificationCategorySerializer

    responses:
      200:
        body:
          application/json:
            schema: NotificationCategorySerializer



/api/notifications/category/{pk}/sms_enable/:
  post:
    body:
      application/json:
        schema: WriteNotificationCategorySerializer

    responses:
      200:
        body:
          application/json:
            schema: NotificationCategorySerializer



/api/notifications/shop_notification/:
  get:
    queryParameters:
      page:
        required: false
        type: integer
      page_size:
        required: false
        type: integer
      is_read:
        required: false
        type: string

    responses:
      200:
        body:
          application/json:
            schema: ShopNotificationSerializer[]



/api/notifications/shop_notification/delete_all/:
  post:
    body:
      application/json:
        schema: WriteShopNotificationSerializer

    responses:
      200:
        body:
          application/json:
            schema: ShopNotificationSerializer



/api/notifications/shop_notification/read_all/:
  post:
    body:
      application/json:
        schema: WriteShopNotificationSerializer

    responses:
      200:
        body:
          application/json:
            schema: ShopNotificationSerializer



/api/notifications/shop_notification/{pk}/:
  get:
    responses:
      200:
        body:
          application/json:
            schema: ShopNotificationSerializer



/api/notifications/shop_notification/{pk}/delete/:
  post:
    body:
      application/json:
        schema: WriteShopNotificationSerializer

    responses:
      200:
        body:
          application/json:
            schema: ShopNotificationSerializer



/api/notifications/shop_notification/{pk}/read/:
  post:
    body:
      application/json:
        schema: WriteShopNotificationSerializer

    responses:
      200:
        body:
          application/json:
            schema: ShopNotificationSerializer



/api/notifications/customer_notification/:
  get:
    queryParameters:
      page:
        required: false
        type: integer
      page_size:
        required: false
        type: integer
      is_read:
        required: false
        type: string

    responses:
      200:
        body:
          application/json:
            schema: CustomerNotificationSerializer[]



/api/notifications/customer_notification/delete_all/:
  post:
    body:
      application/json:
        schema: WriteCustomerNotificationSerializer

    responses:
      200:
        body:
          application/json:
            schema: CustomerNotificationSerializer



/api/notifications/customer_notification/read_all/:
  post:
    body:
      application/json:
        schema: WriteCustomerNotificationSerializer

    responses:
      200:
        body:
          application/json:
            schema: CustomerNotificationSerializer



/api/notifications/customer_notification/{pk}/:
  get:
    responses:
      200:
        body:
          application/json:
            schema: CustomerNotificationSerializer



/api/notifications/customer_notification/{pk}/delete/:
  post:
    body:
      application/json:
        schema: WriteCustomerNotificationSerializer

    responses:
      200:
        body:
          application/json:
            schema: CustomerNotificationSerializer



/api/notifications/customer_notification/{pk}/read/:
  post:
    body:
      application/json:
        schema: WriteCustomerNotificationSerializer

    responses:
      200:
        body:
          application/json:
            schema: CustomerNotificationSerializer


