#%RAML 1.0
title: 嘿店开放平台 API
version: v1
baseUri: http://api.heidianer.com


types:
  OrderLineSerializer:
    type: object
    properties:
      product:
        required: false
        type: ProductSerializer
      total_price:
        required: false
        type: string
      title:
        required: false
        type: string
      variant:
        required: false
        type: ProductVariantSerializer
      image:
        required: false
        type: string
      requires_shipping:
        required: false
        type: boolean
      price:
        required: false
        type: string
      variant_title:
        required: false
        type: string
      quantity:
        required: false
        type: integer
      id:
        required: false
        type: integer
      product_title:
        required: false
        type: string

  ShippingAddressSerializer:
    type: object
    properties:
      province:
        required: false
        type: string
      city:
        required: false
        type: string
      metafield:
        required: false
        type: string
      district:
        required: false
        type: string
      mobile:
        required: false
        type: string
      address1:
        required: false
        type: string
      address2:
        required: false
        type: string
      updated_at:
        required: false
        type: string
      id:
        required: false
        type: integer
      customer_address_id:
        required: false
        type: integer
      place:
        required: false
        type: PlaceSerializer
      full_name:
        required: false
        type: string
      country:
        required: false
        type: string
      created_at:
        required: false
        type: string

  WriteProductVariantSerializer:
    type: object
    properties:
      sku:
        required: true
        type: string
      price:
        required: false
        type: string
      grams:
        required: false
        type: string
      options:
        required: true
        type: WriteProductOptionValueSerializer[]

  WriteProductOptionValueSerializer:
    type: object
    properties:
      value:
        required: false
        type: string
      title:
        required: true
        type: string

  ProductSerializer:
    type: object
    properties:
      title:
        required: false
        type: string
      id:
        required: false
        type: integer
      name:
        required: true
        type: string

  TransactionSerializer:
    type: object
    properties:
      status:
        required: false
        type: string
      created_at:
        required: false
        type: string
      transaction_type:
        required: false
        type: string
      transaction_number:
        required: true
        type: string
      order:
        required: false
        type: OrderSerializer
      id:
        required: false
        type: integer

  ProductVariantSerializer:
    type: object
    properties:
      sku:
        required: true
        type: string
      grams:
        required: false
        type: string
      title:
        required: false
        type: string
      image:
        required: false
        type: string
      id:
        required: false
        type: integer
      options:
        required: true
        type: ProductOptionValueSerializer[]
      price:
        required: false
        type: string

  WritePlaceSerializer:
    type: object
    properties:
      code:
        required: true
        type: string
      short_name:
        required: false
        type: string
      name:
        required: true
        type: string
      parent:
        required: false
        type: string
      area:
        required: false
        type: string

  WriteShippingAddressSerializer:
    type: object
    properties:
      province:
        required: false
        type: string
      city:
        required: false
        type: string
      metafield:
        required: false
        type: string
      district:
        required: false
        type: string
      mobile:
        required: false
        type: string
      address1:
        required: false
        type: string
      address2:
        required: false
        type: string
      customer_address_id:
        required: false
        type: integer
      place_code:
        required: false
        type: string
      full_name:
        required: false
        type: string
      country:
        required: false
        type: string

  ProductOptionValueSerializer:
    type: object
    properties:
      value:
        required: false
        type: string
      title:
        required: true
        type: string

  PlaceSerializer:
    type: object
    properties:
      code:
        required: true
        type: string
      parent:
        required: false
        type: string
      short_name:
        required: false
        type: string
      area:
        required: false
        type: string
      id:
        required: false
        type: integer
      name:
        required: true
        type: string

  OrderSerializer:
    type: object
    properties:
      subtotal_price:
        required: false
        type: string
      buyer_accepts_marketing:
        required: false
        type: boolean
      cart_token:
        required: false
        type: string
      requires_shipping:
        required: false
        type: string
      updated_at:
        required: false
        type: string
      is_test:
        required: false
        type: boolean
      total_weight:
        required: false
        type: string
      full_name:
        required: false
        type: string
      shipping_cost:
        required: false
        type: string
      closed_at:
        required: false
        type: string
      id:
        required: false
        type: integer
      metafield:
        required: false
        type: string
      fulfillments:
        required: false
        type: FulfillmentSerializer[]
      financial_status:
        required: false
        type: string
      note:
        required: false
        type: string
      discounts:
        required: false
        type: OrderDiscountSerializer[]
      total_line_items_price:
        required: false
        type: string
      cancelled_at:
        required: false
        type: string
      order_status:
        required: false
        type: string
      email:
        required: false
        type: string
      cancel_reason:
        required: false
        type: string
      total_discounts:
        required: false
        type: string
      referring_platform:
        required: false
        type: string
      payment_time:
        required: false
        type: string
      total_price:
        required: false
        type: string
      mobile:
        required: false
        type: string
      created_at:
        required: false
        type: string
      lines:
        required: false
        type: OrderLineSerializer[]
      fulfillment_status:
        required: false
        type: string
      token:
        required: false
        type: string
      shipping_address:
        required: true
        type: ShippingAddressSerializer
      payment_number:
        required: false
        type: string
      order_number:
        required: false
        type: string

  WriteTransactionSerializer:
    type: object
    properties:
      status:
        required: false
        type: string
      transaction_number:
        required: true
        type: string
      transaction_type:
        required: false
        type: string

  WriteFulfillmentSerializer:
    type: object
    properties:
      status:
        required: false
        type: string
      tracking_number:
        required: false
        type: string
      tracking_info:
        required: false
        type: string
      tracking_url:
        required: false
        type: string
      tracking_company:
        required: false
        type: string

  WriteProductSerializer:
    type: object
    properties:
      name:
        required: true
        type: string
      title:
        required: false
        type: string

  OrderDiscountSerializer:
    type: object
    properties:
      code:
        required: false
        type: string
      source_type:
        required: false
        type: string
      order_id:
        required: false
        type: integer
      value:
        required: false
        type: string
      discount_type:
        required: false
        type: string
      source:
        required: false
        type: string
      source_id:
        required: false
        type: integer
      id:
        required: false
        type: integer

  WriteOrderSerializer:
    type: object
    properties:
      is_test:
        required: false
        type: boolean
      metafield:
        required: false
        type: string
      buyer_accepts_marketing:
        required: false
        type: boolean
      mobile:
        required: false
        type: string
      note:
        required: false
        type: string
      full_name:
        required: false
        type: string
      shipping_address:
        required: true
        type: ShippingAddressSerializer
      email:
        required: false
        type: string

  WriteOrderLineSerializer:
    type: object
    properties:
      variant_title:
        required: false
        type: string
      image:
        required: false
        type: string
      product_title:
        required: false
        type: string
      requires_shipping:
        required: false
        type: boolean
      title:
        required: false
        type: string

  WriteOrderDiscountSerializer:
    type: object
    properties:

  FulfillmentSerializer:
    type: object
    properties:
      status:
        required: false
        type: string
      kd100_data:
        required: false
        type: string
      tracking_info:
        required: false
        type: string
      tracking_url:
        required: false
        type: string
      tracking_number:
        required: false
        type: string
      tracking_company:
        required: false
        type: string
      id:
        required: false
        type: integer




/api/payments/transaction/:
  get:
    queryParameters:
      page:
        required: false
        type: integer
      page_size:
        required: false
        type: integer

    responses:
      200:
        body:
          application/json:
            type: TransactionSerializer[]



/api/payments/transaction/{pk}/:
  get:
    responses:
      200:
        body:
          application/json:
            type: TransactionSerializer


