#%RAML 1.0
title: 嘿店开放平台 API
version: v1
baseUri: http://api.heidianer.com


types:
  WriteThemeSerializer:
    type: object
    properties:
      current_preset:
        required: false
        type: string
      private_settings_data:
        required: false
        type: string
      metafield:
        required: false
        type: string
      settings_data:
        required: false
        type: string

  IdentificationSerializer:
    type: object
    properties:
      status:
        required: false
        type: string
      alipay:
        required: false
        type: string
      identification_number:
        required: false
        type: string
      metafield:
        required: false
        type: string
      representative_id_photo2:
        required: false
        type: string
      mobile:
        required: false
        type: string
      identification_type:
        required: false
        type: string
      identification_photo:
        required: false
        type: string
      updated_at:
        required: false
        type: string
      pingxx_available_channels:
        required: false
        type: string
      pingxx_public_key:
        required: false
        type: string
      representative_id_photo:
        required: false
        type: string
      representative:
        required: false
        type: string
      full_name:
        required: false
        type: string
      pingxx_live_key:
        required: false
        type: string
      pingxx_test_key:
        required: false
        type: string
      pingxx_app_id:
        required: false
        type: string
      created_at:
        required: false
        type: string
      id:
        required: false
        type: integer

  WritePageConfigPresetSerializer:
    type: object
    properties:

  MenuSerializer:
    type: object
    properties:
      metafield:
        required: false
        type: string
      name:
        required: true
        type: string
      links:
        required: false
        type: string
      title:
        required: false
        type: string
      items:
        required: false
        type: MenuItemSerializer[]
      created_at:
        required: false
        type: string
      updated_at:
        required: false
        type: string
      permanent:
        required: false
        type: boolean

  WritePlanSerializer:
    type: object
    properties:
      next_billing:
        required: true
        type: PlanBillingSerializer
      active_billing:
        required: true
        type: PlanBillingSerializer

  PageConfigPresetSerializer:
    type: object
    properties:
      template_name:
        required: false
        type: string
      settings_data:
        required: false
        type: string
      id:
        required: false
        type: integer
      page_type:
        required: false
        type: string

  PageSerializer:
    type: object
    properties:
      detail_page:
        required: false
        type: RecursiveField
      metafield:
        required: false
        type: string
      name:
        required: true
        type: string
      title:
        required: false
        type: string
      url:
        required: false
        type: string
      created_at:
        required: false
        type: string
      body_html:
        required: false
        type: string
      updated_at:
        required: false
        type: string
      permanent:
        required: false
        type: boolean
      page_type:
        required: false
        type: string
      pageconfig:
        required: false
        type: PageConfigSerializer
      id:
        required: false
        type: integer
      description:
        required: false
        type: string

  WriteRecursiveField:
    type: object
    properties:

  WriteStaticPageSerializer:
    type: object
    properties:
      description:
        required: false
        type: string
      title:
        required: false
        type: string
      metafield:
        required: false
        type: string
      body_html:
        required: false
        type: string
      name:
        required: false
        type: string

  PageConfigSerializer:
    type: object
    properties:
      metafield:
        required: false
        type: string
      template_name:
        required: true
        type: string
      page:
        required: false
        type: string
      theme:
        required: false
        type: string
      id:
        required: false
        type: integer
      settings_data:
        required: false
        type: string

  WriteScriptTagSerializer:
    type: object
    properties:
      content:
        required: false
        type: string
      src:
        required: false
        type: string
      metafield:
        required: false
        type: string
      display_scope:
        required: false
        type: string

  WriteShopFrontSerializer:
    type: object
    properties:
      website:
        required: false
        type: string
      metafield:
        required: false
        type: string
      slogan:
        required: false
        type: string
      description:
        required: false
        type: string
      title:
        required: false
        type: string
      identification_type:
        required: false
        type: string
      phone:
        required: false
        type: string
      favicon:
        required: false
        type: string
      email:
        required: false
        type: string
      address:
        required: false
        type: string
      logo:
        required: false
        type: string
      company:
        required: false
        type: string

  ShopSerializer:
    type: object
    properties:
      domain:
        required: false
        type: string
      identification_type:
        required: false
        type: string
      address:
        required: false
        type: string
      updated_at:
        required: false
        type: string
      favicon:
        required: false
        type: string
      logo:
        required: false
        type: string
      id:
        required: false
        type: integer
      metafield:
        required: false
        type: string
      title:
        required: false
        type: string
      payment_channels:
        required: false
        type: string
      theme:
        required: false
        type: ThemeSerializer
      email:
        required: false
        type: string
      website:
        required: false
        type: string
      description:
        required: false
        type: string
      company:
        required: false
        type: string
      phone:
        required: false
        type: string
      plan:
        required: false
        type: PlanSerializer
      wechat_app_id:
        required: false
        type: string
      slogan:
        required: false
        type: string
      name:
        required: false
        type: string
      notifications:
        required: false
        type: string
      created_at:
        required: false
        type: string
      script_tags:
        required: false
        type: ScriptTagSerializer[]

  ThemePresetSerializer:
    type: object
    properties:
      screenshot_mobile:
        required: false
        type: string
      pageconfigs:
        required: false
        type: PageConfigPresetSerializer[]
      metafield:
        required: false
        type: string
      name:
        required: false
        type: string
      screenshot:
        required: false
        type: string
      title:
        required: false
        type: string
      color:
        required: false
        type: string
      settings_data:
        required: false
        type: string
      id:
        required: false
        type: integer
      assets:
        required: false
        type: string

  ShopFrontSerializer:
    type: object
    properties:
      domain:
        required: false
        type: string
      identification_type:
        required: false
        type: string
      address:
        required: false
        type: string
      updated_at:
        required: false
        type: string
      favicon:
        required: false
        type: string
      logo:
        required: false
        type: string
      id:
        required: false
        type: integer
      metafield:
        required: false
        type: string
      title:
        required: false
        type: string
      payment_channels:
        required: false
        type: string
      theme:
        required: false
        type: ThemeSerializer
      email:
        required: false
        type: string
      website:
        required: false
        type: string
      description:
        required: false
        type: string
      company:
        required: false
        type: string
      phone:
        required: false
        type: string
      plan:
        required: false
        type: PlanSerializer
      wechat_app_id:
        required: false
        type: string
      slogan:
        required: false
        type: string
      name:
        required: false
        type: string
      notifications:
        required: false
        type: string
      created_at:
        required: false
        type: string
      script_tags:
        required: false
        type: ScriptTagSerializer[]

  PlanBillingSerializer:
    type: object
    properties:
      status:
        required: false
        type: string
      ends_at:
        required: false
        type: string
      title:
        required: false
        type: string
      order_number:
        required: false
        type: string
      order_token:
        required: false
        type: string
      starts_at:
        required: false
        type: string
      plan_period:
        required: true
        type: string
      billing_type:
        required: false
        type: string
      plan_name:
        required: true
        type: string
      id:
        required: false
        type: integer

  WritePageSerializer:
    type: object
    properties:
      description:
        required: false
        type: string
      title:
        required: false
        type: string
      metafield:
        required: false
        type: string
      body_html:
        required: false
        type: string
      name:
        required: true
        type: string

  ThemeSerializer:
    type: object
    properties:
      current_preset:
        required: false
        type: string
      presets:
        required: false
        type: ThemePresetSerializer[]
      settings_schema:
        required: false
        type: string
      name:
        required: false
        type: string
      title:
        required: false
        type: string
      private_settings_data:
        required: false
        type: string
      version:
        required: false
        type: string
      is_current:
        required: false
        type: boolean
      metafield:
        required: false
        type: string
      id:
        required: false
        type: integer
      settings_data:
        required: false
        type: string

  WriteMenuItemSerializer:
    type: object
    properties:
      metafield:
        required: false
        type: string
      target:
        required: false
        type: string
      title:
        required: false
        type: string
      url:
        required: false
        type: string
      menu_type:
        required: false
        type: string
      parent_id:
        required: false
        type: integer
      position:
        required: false
        type: integer
      page_id:
        required: false
        type: integer

  WriteThemePresetSerializer:
    type: object
    properties:
      metafield:
        required: false
        type: string
      title:
        required: false
        type: string

  MenuItemSerializer:
    type: object
    properties:
      metafield:
        required: false
        type: string
      target:
        required: false
        type: string
      title:
        required: false
        type: string
      url:
        required: false
        type: string
      menu_type:
        required: false
        type: string
      created_at:
        required: false
        type: string
      updated_at:
        required: false
        type: string
      parent_id:
        required: false
        type: integer
      position:
        required: false
        type: integer
      page_id:
        required: false
        type: integer
      id:
        required: false
        type: integer

  StaticPageSerializer:
    type: object
    properties:
      metafield:
        required: false
        type: string
      name:
        required: false
        type: string
      title:
        required: false
        type: string
      url:
        required: false
        type: string
      created_at:
        required: false
        type: string
      body_html:
        required: false
        type: string
      updated_at:
        required: false
        type: string
      permanent:
        required: false
        type: boolean
      id:
        required: false
        type: integer
      description:
        required: false
        type: string

  ScriptTagSerializer:
    type: object
    properties:
      src:
        required: false
        type: string
      metafield:
        required: false
        type: string
      created_at:
        required: false
        type: string
      updated_at:
        required: false
        type: string
      display_scope:
        required: false
        type: string
      content:
        required: false
        type: string
      id:
        required: false
        type: integer

  WriteShopSerializer:
    type: object
    properties:
      website:
        required: false
        type: string
      metafield:
        required: false
        type: string
      slogan:
        required: false
        type: string
      description:
        required: false
        type: string
      title:
        required: false
        type: string
      identification_type:
        required: false
        type: string
      phone:
        required: false
        type: string
      favicon:
        required: false
        type: string
      email:
        required: false
        type: string
      address:
        required: false
        type: string
      logo:
        required: false
        type: string
      company:
        required: false
        type: string

  WritePlanBillingSerializer:
    type: object
    properties:
      plan_period:
        required: true
        type: string
      plan_name:
        required: true
        type: string

  WriteIdentificationSerializer:
    type: object
    properties:
      alipay:
        required: false
        type: string
      identification_number:
        required: false
        type: string
      metafield:
        required: false
        type: string
      representative_id_photo2:
        required: false
        type: string
      mobile:
        required: false
        type: string
      identification_type:
        required: false
        type: string
      identification_photo:
        required: false
        type: string
      pingxx_available_channels:
        required: false
        type: string
      pingxx_public_key:
        required: false
        type: string
      representative_id_photo:
        required: false
        type: string
      representative:
        required: false
        type: string
      full_name:
        required: false
        type: string
      pingxx_test_key:
        required: false
        type: string
      pingxx_app_id:
        required: false
        type: string
      pingxx_live_key:
        required: false
        type: string

  PlanSerializer:
    type: object
    properties:
      ends_at:
        required: false
        type: string
      name:
        required: false
        type: string
      days_left:
        required: false
        type: string
      title:
        required: false
        type: string
      active_billing:
        required: true
        type: PlanBillingSerializer
      period:
        required: false
        type: string
      can_publish_products:
        required: false
        type: string
      starts_at:
        required: false
        type: string
      next_billing:
        required: true
        type: PlanBillingSerializer
      is_expired:
        required: false
        type: string
      id:
        required: false
        type: integer

  RecursiveField:
    type: object
    properties:

  WriteMenuSerializer:
    type: object
    properties:
      metafield:
        required: false
        type: string
      name:
        required: true
        type: string
      title:
        required: false
        type: string

  WritePageConfigSerializer:
    type: object
    properties:
      template_name:
        required: true
        type: string
      metafield:
        required: false
        type: string
      settings_data:
        required: false
        type: string




/api/shops/shop/:
  get:
    queryParameters:
      page:
        required: false
        type: integer
      page_size:
        required: false
        type: integer

    responses:
      200:
        body:
          application/json:
            schema: ShopSerializer[]



/api/shops/shop/{pk}/:
  get:
    responses:
      200:
        body:
          application/json:
            schema: ShopSerializer



/api/shops/page/:
  post:
    body:
      application/json:
        schema: WriteStaticPageSerializer

    responses:
      200:
        body:
          application/json:
            schema: StaticPageSerializer

  get:
    queryParameters:
      page:
        required: false
        type: integer
      page_size:
        required: false
        type: integer
      name:
        required: false
        type: string
      name__in:
        required: false
        type: string
      id:
        required: false
        type: string
      id__in:
        required: false
        type: string
      order_by:
        required: false
        enum:
          - id
          - -id
          - title
          - -title
          - created_at
          - -created_at

    responses:
      200:
        body:
          application/json:
            schema: StaticPageSerializer[]



/api/shops/page/{pk}/:
  put:
    body:
      application/json:
        schema: WriteStaticPageSerializer

    responses:
      200:
        body:
          application/json:
            schema: StaticPageSerializer

  get:
    responses:
      200:
        body:
          application/json:
            schema: StaticPageSerializer

  delete:
    responses:
      200:
        body:
          application/json:
            schema: StaticPageSerializer

  patch:
    body:
      application/json:
        schema: WriteStaticPageSerializer

    responses:
      200:
        body:
          application/json:
            schema: StaticPageSerializer



/api/shops/navigation/:
  post:
    body:
      application/json:
        schema: WritePageSerializer

    responses:
      200:
        body:
          application/json:
            schema: PageSerializer

  get:
    queryParameters:
      name:
        required: false
        type: string
      name__in:
        required: false
        type: string
      id:
        required: false
        type: string
      id__in:
        required: false
        type: string
      order_by:
        required: false
        enum:
          - id
          - -id
          - title
          - -title
          - created_at
          - -created_at

    responses:
      200:
        body:
          application/json:
            schema: PageSerializer[]



/api/shops/navigation/page/:
  post:
    body:
      application/json:
        schema: WritePageSerializer

    responses:
      200:
        body:
          application/json:
            schema: PageSerializer



/api/shops/navigation/sort/:
  put:
    body:
      application/json:
        schema: WritePageSerializer

    responses:
      200:
        body:
          application/json:
            schema: PageSerializer



/api/shops/navigation/{pk}/:
  put:
    body:
      application/json:
        schema: WritePageSerializer

    responses:
      200:
        body:
          application/json:
            schema: PageSerializer

  get:
    responses:
      200:
        body:
          application/json:
            schema: PageSerializer

  delete:
    responses:
      200:
        body:
          application/json:
            schema: PageSerializer

  patch:
    body:
      application/json:
        schema: WritePageSerializer

    responses:
      200:
        body:
          application/json:
            schema: PageSerializer



/api/shops/navigation/{pk}/duplicate/:
  post:
    body:
      application/json:
        schema: WritePageSerializer

    responses:
      200:
        body:
          application/json:
            schema: PageSerializer



/api/shops/identification/:
  post:
    body:
      application/json:
        schema: WriteIdentificationSerializer

    responses:
      200:
        body:
          application/json:
            schema: IdentificationSerializer

  get:
    queryParameters:
      identification_type:
        required: false
        enum:
          - personal
          - enterprise

    responses:
      200:
        body:
          application/json:
            schema: IdentificationSerializer[]



/api/shops/menu/{name}/sort/:
  put:
    body:
      application/json:
        schema: WriteMenuSerializer

    responses:
      200:
        body:
          application/json:
            schema: MenuSerializer



/api/shops/menu/:
  post:
    body:
      application/json:
        schema: WriteMenuSerializer

    responses:
      200:
        body:
          application/json:
            schema: MenuSerializer

  get:
    queryParameters:
      name:
        required: false
        type: string
      name__in:
        required: false
        type: string
      id:
        required: false
        type: string
      id__in:
        required: false
        type: string
      order_by:
        required: false
        enum:
          - id
          - -id
          - created_at
          - -created_at

    responses:
      200:
        body:
          application/json:
            schema: MenuSerializer[]



/api/shops/menu/{name}/:
  put:
    body:
      application/json:
        schema: WriteMenuSerializer

    responses:
      200:
        body:
          application/json:
            schema: MenuSerializer

  get:
    responses:
      200:
        body:
          application/json:
            schema: MenuSerializer

  delete:
    responses:
      200:
        body:
          application/json:
            schema: MenuSerializer

  patch:
    body:
      application/json:
        schema: WriteMenuSerializer

    responses:
      200:
        body:
          application/json:
            schema: MenuSerializer



/api/shops/menu/{parent_lookup_menu__name}/item/:
  post:
    body:
      application/json:
        schema: WriteMenuItemSerializer

    responses:
      200:
        body:
          application/json:
            schema: MenuItemSerializer

  get:
    responses:
      200:
        body:
          application/json:
            schema: MenuItemSerializer[]



/api/shops/menu/{parent_lookup_menu__name}/item/{pk}/:
  put:
    body:
      application/json:
        schema: WriteMenuItemSerializer

    responses:
      200:
        body:
          application/json:
            schema: MenuItemSerializer

  get:
    responses:
      200:
        body:
          application/json:
            schema: MenuItemSerializer

  delete:
    responses:
      200:
        body:
          application/json:
            schema: MenuItemSerializer

  patch:
    body:
      application/json:
        schema: WriteMenuItemSerializer

    responses:
      200:
        body:
          application/json:
            schema: MenuItemSerializer



/api/shops/shop_front/:
  get:
    responses:
      200:
        body:
          application/json:
            schema: ShopFrontSerializer



/api/shops/shop_settings/:
  get:
    responses:
      200:
        body:
          application/json:
            schema: ShopSerializer

  put:
    body:
      application/json:
        schema: WriteShopSerializer

    responses:
      200:
        body:
          application/json:
            schema: ShopSerializer

  patch:
    body:
      application/json:
        schema: WriteShopSerializer

    responses:
      200:
        body:
          application/json:
            schema: ShopSerializer



/api/shops/onboarding/:
  get:
    responses:
      200:
        body:
          application/json:
            schema: ShopSerializer



/api/shops/switch_identification_type/:
  put:
    body:
      application/json:
        schema: WriteShopSerializer

    responses:
      200:
        body:
          application/json:
            schema: ShopSerializer


