#%RAML 1.0
title: shops
baseUri: http://heidianapi.com

types:
  WriteShopFrontThemeSerializer:
    type: object
    properties:
      current_preset:
        required: false
        type: string
      settings_schema:
        required: false
        type: string
      name:
        required: true
        type: string
      title:
        required: false
        type: string
      private_settings_data:
        required: false
        type: string
      version:
        required: false
        type: string
      is_current:
        required: false
        type: boolean
      metafield:
        required: false
        type: string
      assets:
        required: false
        type: string
      settings_data:
        required: false
        type: string

  WriteThemeSerializer:
    type: object
    properties:
      current_preset:
        required: false
        type: string
      private_settings_data:
        required: false
        type: string
      metafield:
        required: false
        type: string
      assets:
        required: false
        type: string
      settings_data:
        required: false
        type: string

  IdentificationSerializer:
    type: object
    properties:
      status:
        required: false
        type: string
      alipay:
        required: false
        type: string
      identification_number:
        required: false
        type: string
      metafield:
        required: false
        type: string
      representative_id_photo2:
        required: false
        type: string
      mobile:
        required: false
        type: string
      identification_type:
        required: false
        type: string
      identification_photo:
        required: false
        type: string
      updated_at:
        required: false
        type: string
      pingxx_available_channels:
        required: false
        type: string
      pingxx_public_key:
        required: false
        type: string
      representative_id_photo:
        required: false
        type: string
      representative:
        required: false
        type: string
      full_name:
        required: false
        type: string
      pingxx_live_key:
        required: false
        type: string
      pingxx_test_key:
        required: false
        type: string
      pingxx_app_id:
        required: false
        type: string
      created_at:
        required: false
        type: string
      id:
        required: false
        type: integer

  WritePageConfigPresetSerializer:
    type: object
    properties:

  MenuSerializer:
    type: object
    properties:
      metafield:
        required: false
        type: string
      name:
        required: true
        type: string
      links:
        required: false
        type: string
      title:
        required: false
        type: string
      items:
        required: false
        type: MenuItemSerializer[]
      created_at:
        required: false
        type: string
      updated_at:
        required: false
        type: string
      permanent:
        required: false
        type: boolean

  WritePlanBillingSerializer:
    type: object
    properties:
      plan_period:
        required: true
        type: string
      plan_name:
        required: true
        type: string

  PageConfigPresetSerializer:
    type: object
    properties:
      template_name:
        required: false
        type: string
      settings_data:
        required: false
        type: string
      id:
        required: false
        type: integer
      page_type:
        required: false
        type: string

  PageSerializer:
    type: object
    properties:
      detail_page:
        required: false
        type: RecursiveField
      metafield:
        required: false
        type: string
      name:
        required: true
        type: string
      title:
        required: false
        type: string
      url:
        required: false
        type: string
      created_at:
        required: false
        type: string
      body_html:
        required: false
        type: string
      updated_at:
        required: false
        type: string
      permanent:
        required: false
        type: boolean
      page_type:
        required: false
        type: string
      pageconfig:
        required: false
        type: PageConfigSerializer
      id:
        required: false
        type: integer
      description:
        required: false
        type: string

  WriteRecursiveField:
    type: object
    properties:

  WriteStaticPageSerializer:
    type: object
    properties:
      description:
        required: false
        type: string
      title:
        required: false
        type: string
      metafield:
        required: false
        type: string
      body_html:
        required: false
        type: string
      name:
        required: false
        type: string

  PageConfigSerializer:
    type: object
    properties:
      locked:
        required: false
        type: boolean
      template_name:
        required: false
        type: string
      page:
        required: false
        type: PageSerializer
      theme:
        required: false
        type: string
      metafield:
        required: false
        type: string
      id:
        required: false
        type: integer
      settings_data:
        required: false
        type: string

  WriteScriptTagSerializer:
    type: object
    properties:
      content:
        required: false
        type: string
      src:
        required: false
        type: string
      metafield:
        required: false
        type: string
      display_scope:
        required: false
        type: string

  WriteShopFrontSerializer:
    type: object
    properties:
      website:
        required: false
        type: string
      customer_email:
        required: false
        type: string
      slogan:
        required: false
        type: string
      description:
        required: false
        type: string
      title:
        required: false
        type: string
      mobile:
        required: false
        type: string
      company:
        required: false
        type: string
      customer_phone:
        required: false
        type: string
      favicon:
        required: false
        type: string
      address:
        required: false
        type: string
      metafield:
        required: false
        type: string
      logo:
        required: false
        type: string
      email:
        required: false
        type: string

  ShopFrontPlanSerializer:
    type: object
    properties:
      ends_at:
        required: false
        type: string
      name:
        required: false
        type: string
      days_left:
        required: false
        type: string
      title:
        required: false
        type: string
      period:
        required: false
        type: string
      starts_at:
        required: false
        type: string
      is_expired:
        required: false
        type: string
      id:
        required: false
        type: integer

  ShopSerializer:
    type: object
    properties:
      website:
        required: false
        type: string
      created_at:
        required: false
        type: string
      domain:
        required: false
        type: string
      customer_email:
        required: false
        type: string
      slogan:
        required: false
        type: string
      description:
        required: false
        type: string
      title:
        required: false
        type: string
      mobile:
        required: false
        type: string
      identification_type:
        required: false
        type: string
      customer_phone:
        required: false
        type: string
      updated_at:
        required: false
        type: string
      favicon:
        required: false
        type: string
      email:
        required: false
        type: string
      address:
        required: false
        type: string
      metafield:
        required: false
        type: string
      logo:
        required: false
        type: string
      company:
        required: false
        type: string
      id:
        required: false
        type: integer
      name:
        required: false
        type: string

  ShopNotificationConfigSerializer:
    type: object
    properties:
      kind:
        required: false
        type: string
      name:
        required: false
        type: string
      allow_email_enable:
        required: false
        type: string
      title:
        required: false
        type: string
      allow_sms_enable:
        required: false
        type: string
      sms_enabled:
        required: false
        type: boolean
      dashboard_enabled:
        required: false
        type: boolean
      email_enabled:
        required: false
        type: boolean
      id:
        required: false
        type: integer
      description:
        required: false
        type: string

  WritePageSerializer:
    type: object
    properties:
      description:
        required: false
        type: string
      title:
        required: false
        type: string
      metafield:
        required: false
        type: string
      body_html:
        required: false
        type: string
      name:
        required: true
        type: string

  ShopFrontSerializer:
    type: object
    properties:
      domain:
        required: false
        type: string
      identification_type:
        required: false
        type: string
      updated_at:
        required: false
        type: string
      favicon:
        required: false
        type: string
      logo:
        required: false
        type: string
      id:
        required: false
        type: integer
      metafield:
        required: false
        type: string
      title:
        required: false
        type: string
      payment_channels:
        required: false
        type: string
      theme:
        required: false
        type: ShopFrontThemeSerializer
      email:
        required: false
        type: string
      website:
        required: false
        type: string
      customer_email:
        required: false
        type: string
      description:
        required: false
        type: string
      company:
        required: false
        type: string
      customer_phone:
        required: false
        type: string
      plan:
        required: false
        type: ShopFrontPlanSerializer
      address:
        required: false
        type: string
      slogan:
        required: false
        type: string
      name:
        required: false
        type: string
      mobile:
        required: false
        type: string
      created_at:
        required: false
        type: string
      script_tags:
        required: false
        type: ScriptTagSerializer[]

  PlanBillingSerializer:
    type: object
    properties:
      status:
        required: false
        type: string
      ends_at:
        required: false
        type: string
      title:
        required: false
        type: string
      order_number:
        required: false
        type: string
      order_token:
        required: false
        type: string
      starts_at:
        required: false
        type: string
      plan_period:
        required: true
        type: string
      billing_type:
        required: false
        type: string
      plan_name:
        required: true
        type: string
      id:
        required: false
        type: integer

  ThemePresetSerializer:
    type: object
    properties:
      screenshot_mobile:
        required: false
        type: string
      pageconfigs:
        required: false
        type: PageConfigPresetSerializer[]
      metafield:
        required: false
        type: string
      description:
        required: false
        type: string
      screenshot:
        required: false
        type: string
      title:
        required: false
        type: string
      color:
        required: false
        type: string
      settings_data:
        required: false
        type: string
      assets:
        required: false
        type: string
      id:
        required: false
        type: integer
      name:
        required: false
        type: string

  ThemeSerializer:
    type: object
    properties:
      screenshot_mobile:
        required: false
        type: string
      current_preset:
        required: false
        type: string
      presets:
        required: false
        type: ThemePresetSerializer[]
      settings_schema:
        required: false
        type: string
      name:
        required: false
        type: string
      screenshot:
        required: false
        type: string
      title:
        required: false
        type: string
      private_settings_data:
        required: false
        type: string
      version:
        required: false
        type: string
      is_current:
        required: false
        type: boolean
      metafield:
        required: false
        type: string
      assets:
        required: false
        type: string
      id:
        required: false
        type: integer
      settings_data:
        required: false
        type: string

  WriteMenuItemSerializer:
    type: object
    properties:
      metafield:
        required: false
        type: string
      target:
        required: false
        type: string
      title:
        required: false
        type: string
      url:
        required: false
        type: string
      menu_type:
        required: false
        type: string
      parent_id:
        required: false
        type: integer
      position:
        required: false
        type: integer
      page_id:
        required: false
        type: integer

  WriteThemePresetSerializer:
    type: object
    properties:
      metafield:
        required: false
        type: string
      description:
        required: false
        type: string
      title:
        required: false
        type: string

  WriteShopSettingsSerializer:
    type: object
    properties:
      website:
        required: false
        type: string
      customer_email:
        required: false
        type: string
      slogan:
        required: false
        type: string
      description:
        required: false
        type: string
      title:
        required: false
        type: string
      mobile:
        required: false
        type: string
      company:
        required: false
        type: string
      customer_phone:
        required: false
        type: string
      favicon:
        required: false
        type: string
      address:
        required: false
        type: string
      metafield:
        required: false
        type: string
      logo:
        required: false
        type: string
      email:
        required: false
        type: string

  MenuItemSerializer:
    type: object
    properties:
      metafield:
        required: false
        type: string
      target:
        required: false
        type: string
      title:
        required: false
        type: string
      url:
        required: false
        type: string
      menu_type:
        required: false
        type: string
      created_at:
        required: false
        type: string
      updated_at:
        required: false
        type: string
      parent_id:
        required: false
        type: integer
      position:
        required: false
        type: integer
      page_id:
        required: false
        type: integer
      id:
        required: false
        type: integer

  StaticPageSerializer:
    type: object
    properties:
      metafield:
        required: false
        type: string
      name:
        required: false
        type: string
      title:
        required: false
        type: string
      url:
        required: false
        type: string
      created_at:
        required: false
        type: string
      body_html:
        required: false
        type: string
      updated_at:
        required: false
        type: string
      permanent:
        required: false
        type: boolean
      id:
        required: false
        type: integer
      description:
        required: false
        type: string

  ShopFrontThemeSerializer:
    type: object
    properties:
      current_preset:
        required: false
        type: string
      settings_schema:
        required: false
        type: string
      name:
        required: true
        type: string
      title:
        required: false
        type: string
      private_settings_data:
        required: false
        type: string
      version:
        required: false
        type: string
      is_current:
        required: false
        type: boolean
      metafield:
        required: false
        type: string
      assets:
        required: false
        type: string
      id:
        required: false
        type: integer
      settings_data:
        required: false
        type: string

  WriteShopFrontPlanSerializer:
    type: object
    properties:
      starts_at:
        required: false
        type: string
      ends_at:
        required: false
        type: string
      name:
        required: false
        type: string
      period:
        required: false
        type: string

  ScriptTagSerializer:
    type: object
    properties:
      src:
        required: false
        type: string
      metafield:
        required: false
        type: string
      created_at:
        required: false
        type: string
      updated_at:
        required: false
        type: string
      display_scope:
        required: false
        type: string
      content:
        required: false
        type: string
      id:
        required: false
        type: integer

  WriteShopSerializer:
    type: object
    properties:
      website:
        required: false
        type: string
      customer_email:
        required: false
        type: string
      slogan:
        required: false
        type: string
      description:
        required: false
        type: string
      title:
        required: false
        type: string
      mobile:
        required: false
        type: string
      company:
        required: false
        type: string
      customer_phone:
        required: false
        type: string
      favicon:
        required: false
        type: string
      address:
        required: false
        type: string
      metafield:
        required: false
        type: string
      logo:
        required: false
        type: string
      email:
        required: false
        type: string

  WritePlanSerializer:
    type: object
    properties:
      next_billing:
        required: true
        type: PlanBillingSerializer
      active_billing:
        required: true
        type: PlanBillingSerializer

  WriteIdentificationSerializer:
    type: object
    properties:
      alipay:
        required: false
        type: string
      identification_number:
        required: false
        type: string
      metafield:
        required: false
        type: string
      representative_id_photo2:
        required: false
        type: string
      mobile:
        required: false
        type: string
      identification_type:
        required: false
        type: string
      identification_photo:
        required: false
        type: string
      pingxx_available_channels:
        required: false
        type: string
      pingxx_public_key:
        required: false
        type: string
      representative_id_photo:
        required: false
        type: string
      representative:
        required: false
        type: string
      full_name:
        required: false
        type: string
      pingxx_test_key:
        required: false
        type: string
      pingxx_app_id:
        required: false
        type: string
      pingxx_live_key:
        required: false
        type: string

  PlanSerializer:
    type: object
    properties:
      ends_at:
        required: false
        type: string
      name:
        required: false
        type: string
      days_left:
        required: false
        type: string
      title:
        required: false
        type: string
      active_billing:
        required: true
        type: PlanBillingSerializer
      period:
        required: false
        type: string
      can_publish_products:
        required: false
        type: string
      starts_at:
        required: false
        type: string
      next_billing:
        required: true
        type: PlanBillingSerializer
      is_expired:
        required: false
        type: string
      id:
        required: false
        type: integer

  RecursiveField:
    type: object
    properties:

  WriteMenuSerializer:
    type: object
    properties:
      metafield:
        required: false
        type: string
      name:
        required: true
        type: string
      title:
        required: false
        type: string

  ShopSettingsSerializer:
    type: object
    properties:
      domain:
        required: false
        type: string
      identification_type:
        required: false
        type: string
      updated_at:
        required: false
        type: string
      favicon:
        required: false
        type: string
      logo:
        required: false
        type: string
      id:
        required: false
        type: integer
      metafield:
        required: false
        type: string
      title:
        required: false
        type: string
      payment_channels:
        required: false
        type: string
      theme:
        required: false
        type: ThemeSerializer
      email:
        required: false
        type: string
      website:
        required: false
        type: string
      customer_email:
        required: false
        type: string
      description:
        required: false
        type: string
      company:
        required: false
        type: string
      customer_phone:
        required: false
        type: string
      notifications:
        required: false
        type: ShopNotificationConfigSerializer[]
      plan:
        required: false
        type: PlanSerializer
      address:
        required: false
        type: string
      has_pending_identification:
        required: false
        type: string
      slogan:
        required: false
        type: string
      name:
        required: false
        type: string
      mobile:
        required: false
        type: string
      created_at:
        required: false
        type: string
      script_tags:
        required: false
        type: ScriptTagSerializer[]

  WritePageConfigSerializer:
    type: object
    properties:
      metafield:
        required: false
        type: string
      settings_data:
        required: false
        type: string

  WriteShopNotificationConfigSerializer:
    type: object
    properties:
      sms_enabled:
        required: false
        type: boolean
      dashboard_enabled:
        required: false
        type: boolean
      email_enabled:
        required: false
        type: boolean



/api/shops/shop/:
  get:
    queryParameters:
      page:
        required: false
        type: integer
      page_size:
        required: false
        type: integer

    responses:
      200:
        body:
          application/json:
            type: ShopSerializer[]


/api/shops/shop/{pk}/:
  get:
    responses:
      200:
        body:
          application/json:
            type: ShopSerializer


/api/shops/page/:
  get:
    queryParameters:
      page:
        required: false
        type: integer
      page_size:
        required: false
        type: integer
      name:
        required: false
        type: string
      name__in:
        required: false
        type: string
      id:
        required: false
        type: string
      id__in:
        required: false
        type: string
      order_by:
        required: false
        enum:
          - id
          - -id
          - title
          - -title
          - created_at
          - -created_at

    responses:
      200:
        body:
          application/json:
            type: StaticPageSerializer[]

  post:
    body:
      application/json:
        type: WriteStaticPageSerializer

    responses:
      200:
        body:
          application/json:
            type: StaticPageSerializer


/api/shops/page/{pk}/:
  patch:
    body:
      application/json:
        type: WriteStaticPageSerializer

    responses:
      200:
        body:
          application/json:
            type: StaticPageSerializer

  get:
    responses:
      200:
        body:
          application/json:
            type: StaticPageSerializer

  put:
    body:
      application/json:
        type: WriteStaticPageSerializer

    responses:
      200:
        body:
          application/json:
            type: StaticPageSerializer

  delete:
    responses:
      200:


/api/shops/navigation/:
  get:
    queryParameters:
      name:
        required: false
        type: string
      name__in:
        required: false
        type: string
      id:
        required: false
        type: string
      id__in:
        required: false
        type: string
      order_by:
        required: false
        enum:
          - id
          - -id
          - title
          - -title
          - created_at
          - -created_at

    responses:
      200:
        body:
          application/json:
            type: PageSerializer[]

  post:
    body:
      application/json:
        type: WritePageSerializer

    responses:
      200:
        body:
          application/json:
            type: PageSerializer


/api/shops/navigation/page/:
  post:
    body:
      application/json:
        type: WritePageSerializer

    responses:
      200:
        body:
          application/json:
            type: PageSerializer


/api/shops/navigation/sort/:
  put:
    body:
      application/json:
        type: WritePageSerializer

    responses:
      200:
        body:
          application/json:
            type: PageSerializer


/api/shops/navigation/{pk}/:
  patch:
    body:
      application/json:
        type: WritePageSerializer

    responses:
      200:
        body:
          application/json:
            type: PageSerializer

  get:
    responses:
      200:
        body:
          application/json:
            type: PageSerializer

  put:
    body:
      application/json:
        type: WritePageSerializer

    responses:
      200:
        body:
          application/json:
            type: PageSerializer

  delete:
    responses:
      200:


/api/shops/navigation/{pk}/duplicate/:
  post:
    body:
      application/json:
        type: WritePageSerializer

    responses:
      200:
        body:
          application/json:
            type: PageSerializer


/api/shops/identification/:
  get:
    queryParameters:
      identification_type:
        required: false
        enum:
          - personal
          - enterprise

    responses:
      200:
        body:
          application/json:
            type: IdentificationSerializer[]

  post:
    body:
      application/json:
        type: WriteIdentificationSerializer

    responses:
      200:
        body:
          application/json:
            type: IdentificationSerializer


/api/shops/menu/{name}/sort/:
  put:
    body:
      application/json:
        type: WriteMenuSerializer

    responses:
      200:
        body:
          application/json:
            type: MenuSerializer


/api/shops/menu/:
  get:
    queryParameters:
      name:
        required: false
        type: string
      name__in:
        required: false
        type: string
      id:
        required: false
        type: string
      id__in:
        required: false
        type: string
      order_by:
        required: false
        enum:
          - id
          - -id
          - created_at
          - -created_at

    responses:
      200:
        body:
          application/json:
            type: MenuSerializer[]

  post:
    body:
      application/json:
        type: WriteMenuSerializer

    responses:
      200:
        body:
          application/json:
            type: MenuSerializer


/api/shops/menu/{name}/:
  patch:
    body:
      application/json:
        type: WriteMenuSerializer

    responses:
      200:
        body:
          application/json:
            type: MenuSerializer

  get:
    responses:
      200:
        body:
          application/json:
            type: MenuSerializer

  put:
    body:
      application/json:
        type: WriteMenuSerializer

    responses:
      200:
        body:
          application/json:
            type: MenuSerializer

  delete:
    responses:
      200:


/api/shops/menu/{parent_lookup_menu__name}/item/:
  get:
    responses:
      200:
        body:
          application/json:
            type: MenuItemSerializer[]

  post:
    body:
      application/json:
        type: WriteMenuItemSerializer

    responses:
      200:
        body:
          application/json:
            type: MenuItemSerializer


/api/shops/menu/{parent_lookup_menu__name}/item/{pk}/:
  patch:
    body:
      application/json:
        type: WriteMenuItemSerializer

    responses:
      200:
        body:
          application/json:
            type: MenuItemSerializer

  get:
    responses:
      200:
        body:
          application/json:
            type: MenuItemSerializer

  put:
    body:
      application/json:
        type: WriteMenuItemSerializer

    responses:
      200:
        body:
          application/json:
            type: MenuItemSerializer

  delete:
    responses:
      200:


/api/shops/shop_front/:
  get:
    responses:
      200:
        body:
          application/json:
            type: ShopFrontSerializer


/api/shops/shop_settings/:
  get:
    responses:
      200:
        body:
          application/json:
            type: ShopSettingsSerializer

  put:
    body:
      application/json:
        type: WriteShopSettingsSerializer

    responses:
      200:
        body:
          application/json:
            type: ShopSettingsSerializer

  patch:
    body:
      application/json:
        type: WriteShopSettingsSerializer

    responses:
      200:
        body:
          application/json:
            type: ShopSettingsSerializer


/api/shops/onboarding/:
  get:
    responses:
      200:
        body:
          application/json:
            type: ShopSerializer


/api/shops/switch_identification_type/:
  put:
    body:
      application/json:
        type: WriteShopSerializer

    responses:
      200:
        body:
          application/json:
            type: ShopSerializer




