#%RAML 1.0
title: 嘿店开放平台 API
version: v1
baseUri: http://api.heidianer.com


types:
  WriteThemeSerializer:
    type: object
    properties:
      metafield:
        required: false
        type: string
      description:
        required: false
        type: string
      author:
        required: false
        type: string
      price:
        required: false
        type: string
      title:
        required: false
        type: string
      name:
        required: true
        type: string

  WriteThemeUploadSerializer:
    type: object
    properties:
      settings_schema:
        required: false
        type: string
      description:
        required: false
        type: string
      author:
        required: false
        type: string
      title:
        required: false
        type: string
      version:
        required: false
        type: string
      metafield:
        required: false
        type: string
      name:
        required: true
        type: string

  ThemePresetSerializer:
    type: object
    properties:
      screenshot_mobile:
        required: false
        type: string
      metafield:
        required: false
        type: string
      description:
        required: false
        type: string
      screenshot:
        required: false
        type: string
      title:
        required: false
        type: string
      color:
        required: false
        type: string
      demo:
        required: false
        type: string
      tags:
        required: false
        type: string[]
      settings_data:
        required: false
        type: string
      theme:
        required: false
        type: ThemeSerializer
      assets:
        required: false
        type: string
      id:
        required: false
        type: integer
      name:
        required: true
        type: string

  ThemeSerializer:
    type: object
    properties:
      metafield:
        required: false
        type: string
      description:
        required: false
        type: string
      author:
        required: false
        type: string
      price:
        required: false
        type: string
      title:
        required: false
        type: string
      id:
        required: false
        type: integer
      name:
        required: true
        type: string

  WriteThemePresetSerializer:
    type: object
    properties:
      screenshot_mobile:
        required: false
        type: string
      metafield:
        required: false
        type: string
      description:
        required: false
        type: string
      screenshot:
        required: false
        type: string
      title:
        required: false
        type: string
      color:
        required: false
        type: string
      demo:
        required: false
        type: string
      assets:
        required: false
        type: string
      settings_data:
        required: false
        type: string
      name:
        required: true
        type: string

  ThemeUploadSerializer:
    type: object
    properties:
      settings_schema:
        required: false
        type: string
      description:
        required: false
        type: string
      author:
        required: false
        type: string
      title:
        required: false
        type: string
      version:
        required: false
        type: string
      metafield:
        required: false
        type: string
      id:
        required: false
        type: integer
      name:
        required: true
        type: string




/api/themes/uploadtheme/{pk}/file/:
  post:
    body:
      application/json:
        schema: WriteThemeUploadSerializer

    responses:
      200:
        body:
          application/json:
            schema: ThemeUploadSerializer



/api/themes/uploadtheme/{pk}/preset/:
  post:
    body:
      application/json:
        schema: WriteThemeUploadSerializer

    responses:
      200:
        body:
          application/json:
            schema: ThemeUploadSerializer



/api/themes/uploadtheme/{pk}/reset/:
  post:
    body:
      application/json:
        schema: WriteThemeUploadSerializer

    responses:
      200:
        body:
          application/json:
            schema: ThemeUploadSerializer



/api/themes/uploadtheme/{pk}/:
  put:
    body:
      application/json:
        schema: WriteThemeUploadSerializer

    responses:
      200:
        body:
          application/json:
            schema: ThemeUploadSerializer

  patch:
    body:
      application/json:
        schema: WriteThemeUploadSerializer

    responses:
      200:
        body:
          application/json:
            schema: ThemeUploadSerializer



/api/themes/theme/:
  post:
    body:
      application/json:
        schema: WriteThemeSerializer

    responses:
      200:
        body:
          application/json:
            schema: ThemeSerializer

  get:
    queryParameters:
      page:
        required: false
        type: integer
      page_size:
        required: false
        type: integer

    responses:
      200:
        body:
          application/json:
            schema: ThemeSerializer[]



/api/themes/theme/{pk}/:
  put:
    body:
      application/json:
        schema: WriteThemeSerializer

    responses:
      200:
        body:
          application/json:
            schema: ThemeSerializer

  get:
    responses:
      200:
        body:
          application/json:
            schema: ThemeSerializer

  delete:
    responses:
      200:
        body:
          application/json:
            schema: ThemeSerializer

  patch:
    body:
      application/json:
        schema: WriteThemeSerializer

    responses:
      200:
        body:
          application/json:
            schema: ThemeSerializer



/api/themes/preset/:
  post:
    body:
      application/json:
        schema: WriteThemePresetSerializer

    responses:
      200:
        body:
          application/json:
            schema: ThemePresetSerializer

  get:
    queryParameters:
      page:
        required: false
        type: integer
      page_size:
        required: false
        type: integer
      theme:
        required: false
        type: string
      name:
        required: false
        type: string
      name__in:
        required: false
        type: string
      id:
        required: false
        type: string
      id__in:
        required: false
        type: string
      tag:
        required: false
        type: string
      title:
        required: false
        type: string

    responses:
      200:
        body:
          application/json:
            schema: ThemePresetSerializer[]



/api/themes/preset/{pk}/:
  put:
    body:
      application/json:
        schema: WriteThemePresetSerializer

    responses:
      200:
        body:
          application/json:
            schema: ThemePresetSerializer

  get:
    responses:
      200:
        body:
          application/json:
            schema: ThemePresetSerializer

  delete:
    responses:
      200:
        body:
          application/json:
            schema: ThemePresetSerializer

  patch:
    body:
      application/json:
        schema: WriteThemePresetSerializer

    responses:
      200:
        body:
          application/json:
            schema: ThemePresetSerializer


