#%RAML 1.0
title: users
baseUri: http://heidianapi.com

types:
  WriteThemeSerializer:
    type: object
    properties:
      current_preset:
        required: false
        type: string
      private_settings_data:
        required: false
        type: string
      metafield:
        required: false
        type: string
      assets:
        required: false
        type: string
      settings_data:
        required: false
        type: string

  WritePageConfigPresetSerializer:
    type: object
    properties:

  WriteUserSerializer:
    type: object
    properties:
      username:
        required: true
        type: string
      password:
        required: true
        type: string
      last_login:
        required: false
        type: string
      email:
        required: true
        type: string
      date_joined:
        required: false
        type: string

  WritePlanSerializer:
    type: object
    properties:
      next_billing:
        required: true
        type: PlanBillingSerializer
      active_billing:
        required: true
        type: PlanBillingSerializer

  PageConfigPresetSerializer:
    type: object
    properties:
      template_name:
        required: false
        type: string
      settings_data:
        required: false
        type: string
      id:
        required: false
        type: integer
      page_type:
        required: false
        type: string

  UserSerializer:
    type: object
    properties:
      username:
        required: true
        type: string
      shop:
        required: false
        type: ShopSettingsSerializer
      email:
        required: true
        type: string
      last_login:
        required: false
        type: string
      password:
        required: true
        type: string
      id:
        required: false
        type: integer
      date_joined:
        required: false
        type: string

  WriteScriptTagSerializer:
    type: object
    properties:
      content:
        required: false
        type: string
      src:
        required: false
        type: string
      metafield:
        required: false
        type: string
      display_scope:
        required: false
        type: string

  ShopSerializer:
    type: object
    properties:
      website:
        required: false
        type: string
      created_at:
        required: false
        type: string
      domain:
        required: false
        type: string
      customer_email:
        required: false
        type: string
      slogan:
        required: false
        type: string
      description:
        required: false
        type: string
      title:
        required: false
        type: string
      mobile:
        required: false
        type: string
      identification_type:
        required: false
        type: string
      customer_phone:
        required: false
        type: string
      updated_at:
        required: false
        type: string
      favicon:
        required: false
        type: string
      email:
        required: false
        type: string
      address:
        required: false
        type: string
      metafield:
        required: false
        type: string
      logo:
        required: false
        type: string
      company:
        required: false
        type: string
      id:
        required: false
        type: integer
      name:
        required: false
        type: string

  WriteShopAdminUserSerializer:
    type: object
    properties:
      mobile:
        required: false
        type: string
      email:
        required: true
        type: string
      full_name:
        required: false
        type: string

  PlanBillingSerializer:
    type: object
    properties:
      status:
        required: false
        type: string
      ends_at:
        required: false
        type: string
      title:
        required: false
        type: string
      order_number:
        required: false
        type: string
      order_token:
        required: false
        type: string
      starts_at:
        required: false
        type: string
      plan_period:
        required: true
        type: string
      billing_type:
        required: false
        type: string
      plan_name:
        required: true
        type: string
      id:
        required: false
        type: integer

  ThemePresetSerializer:
    type: object
    properties:
      screenshot_mobile:
        required: false
        type: string
      pageconfigs:
        required: false
        type: PageConfigPresetSerializer[]
      metafield:
        required: false
        type: string
      description:
        required: false
        type: string
      screenshot:
        required: false
        type: string
      title:
        required: false
        type: string
      color:
        required: false
        type: string
      settings_data:
        required: false
        type: string
      assets:
        required: false
        type: string
      id:
        required: false
        type: integer
      name:
        required: false
        type: string

  ThemeSerializer:
    type: object
    properties:
      current_preset:
        required: false
        type: string
      presets:
        required: false
        type: ThemePresetSerializer[]
      settings_schema:
        required: false
        type: string
      name:
        required: false
        type: string
      title:
        required: false
        type: string
      private_settings_data:
        required: false
        type: string
      version:
        required: false
        type: string
      is_current:
        required: false
        type: boolean
      metafield:
        required: false
        type: string
      assets:
        required: false
        type: string
      id:
        required: false
        type: integer
      settings_data:
        required: false
        type: string

  WriteThemePresetSerializer:
    type: object
    properties:
      metafield:
        required: false
        type: string
      description:
        required: false
        type: string
      title:
        required: false
        type: string

  WriteShopSettingsSerializer:
    type: object
    properties:
      website:
        required: false
        type: string
      customer_email:
        required: false
        type: string
      slogan:
        required: false
        type: string
      description:
        required: false
        type: string
      title:
        required: false
        type: string
      mobile:
        required: false
        type: string
      company:
        required: false
        type: string
      customer_phone:
        required: false
        type: string
      favicon:
        required: false
        type: string
      address:
        required: false
        type: string
      metafield:
        required: false
        type: string
      logo:
        required: false
        type: string
      email:
        required: false
        type: string

  WriteShopNotificationConfigSerializer:
    type: object
    properties:
      sms_enabled:
        required: false
        type: boolean
      dashboard_enabled:
        required: false
        type: boolean
      email_enabled:
        required: false
        type: boolean

  ScriptTagSerializer:
    type: object
    properties:
      src:
        required: false
        type: string
      metafield:
        required: false
        type: string
      created_at:
        required: false
        type: string
      updated_at:
        required: false
        type: string
      display_scope:
        required: false
        type: string
      content:
        required: false
        type: string
      id:
        required: false
        type: integer

  WriteShopSerializer:
    type: object
    properties:
      website:
        required: false
        type: string
      customer_email:
        required: false
        type: string
      slogan:
        required: false
        type: string
      description:
        required: false
        type: string
      title:
        required: false
        type: string
      mobile:
        required: false
        type: string
      company:
        required: false
        type: string
      customer_phone:
        required: false
        type: string
      favicon:
        required: false
        type: string
      address:
        required: false
        type: string
      metafield:
        required: false
        type: string
      logo:
        required: false
        type: string
      email:
        required: false
        type: string

  WritePlanBillingSerializer:
    type: object
    properties:
      plan_period:
        required: true
        type: string
      plan_name:
        required: true
        type: string

  ShopAdminUserSerializer:
    type: object
    properties:
      mobile:
        required: false
        type: string
      created_at:
        required: false
        type: string
      updated_at:
        required: false
        type: string
      email:
        required: true
        type: string
      full_name:
        required: false
        type: string
      id:
        required: false
        type: integer

  ShopSettingsSerializer:
    type: object
    properties:
      domain:
        required: false
        type: string
      identification_type:
        required: false
        type: string
      updated_at:
        required: false
        type: string
      favicon:
        required: false
        type: string
      logo:
        required: false
        type: string
      id:
        required: false
        type: integer
      metafield:
        required: false
        type: string
      title:
        required: false
        type: string
      payment_channels:
        required: false
        type: string
      theme:
        required: false
        type: ThemeSerializer
      email:
        required: false
        type: string
      website:
        required: false
        type: string
      customer_email:
        required: false
        type: string
      description:
        required: false
        type: string
      company:
        required: false
        type: string
      customer_phone:
        required: false
        type: string
      notifications:
        required: false
        type: ShopNotificationConfigSerializer[]
      plan:
        required: false
        type: PlanSerializer
      address:
        required: false
        type: string
      has_pending_identification:
        required: false
        type: string
      slogan:
        required: false
        type: string
      name:
        required: false
        type: string
      mobile:
        required: false
        type: string
      created_at:
        required: false
        type: string
      script_tags:
        required: false
        type: ScriptTagSerializer[]

  ShopNotificationConfigSerializer:
    type: object
    properties:
      kind:
        required: false
        type: string
      name:
        required: false
        type: string
      allow_email_enable:
        required: false
        type: string
      title:
        required: false
        type: string
      allow_sms_enable:
        required: false
        type: string
      sms_enabled:
        required: false
        type: boolean
      dashboard_enabled:
        required: false
        type: boolean
      email_enabled:
        required: false
        type: boolean
      id:
        required: false
        type: integer
      description:
        required: false
        type: string

  PlanSerializer:
    type: object
    properties:
      ends_at:
        required: false
        type: string
      name:
        required: false
        type: string
      days_left:
        required: false
        type: string
      title:
        required: false
        type: string
      active_billing:
        required: true
        type: PlanBillingSerializer
      period:
        required: false
        type: string
      can_publish_products:
        required: false
        type: string
      starts_at:
        required: false
        type: string
      next_billing:
        required: true
        type: PlanBillingSerializer
      is_expired:
        required: false
        type: string
      id:
        required: false
        type: integer



/api/users/user/:
  get:
    queryParameters:
      page:
        required: false
        type: integer
      page_size:
        required: false
        type: integer

    responses:
      200:
        body:
          application/json:
            type: UserSerializer[]


/api/users/user/change_password/:
  put:
    body:
      application/json:
        type: WriteUserSerializer

    responses:
      200:
        body:
          application/json:
            type: UserSerializer


/api/users/user/{pk}/:
  get:
    responses:
      200:
        body:
          application/json:
            type: UserSerializer


/api/users/shopadmin/:
  get:
    queryParameters:
      page:
        required: false
        type: integer
      page_size:
        required: false
        type: integer

    responses:
      200:
        body:
          application/json:
            type: ShopAdminUserSerializer[]


/api/users/shopadmin/auth/:
  post:
    body:
      application/json:
        type: WriteShopAdminUserSerializer

    responses:
      200:
        body:
          application/json:
            type: ShopAdminUserSerializer


/api/users/shopadmin/change_password/:
  put:
    body:
      application/json:
        type: WriteShopAdminUserSerializer

    responses:
      200:
        body:
          application/json:
            type: ShopAdminUserSerializer


/api/users/shopadmin/create_shop/:
  post:
    body:
      application/json:
        type: WriteShopAdminUserSerializer

    responses:
      200:
        body:
          application/json:
            type: ShopAdminUserSerializer


/api/users/shopadmin/{pk}/:
  get:
    responses:
      200:
        body:
          application/json:
            type: ShopAdminUserSerializer


/api/users/shop/:
  get:
    queryParameters:
      name:
        required: false
        type: string
      name__in:
        required: false
        type: string
      id:
        required: false
        type: string
      id__in:
        required: false
        type: string
      q:
        required: false
        type: string
      order_by:
        required: false
        enum:
          - id
          - -id
          - created_at
          - -created_at
          - name
          - -name

    responses:
      200:
        body:
          application/json:
            type: ShopSerializer[]

  post:
    body:
      application/json:
        type: WriteShopSerializer

    responses:
      200:
        body:
          application/json:
            type: ShopSerializer


/api/users/shop/{pk}/:
  put:
    body:
      application/json:
        type: WriteShopSerializer

    responses:
      200:
        body:
          application/json:
            type: ShopSerializer

  get:
    responses:
      200:
        body:
          application/json:
            type: ShopSerializer

  patch:
    body:
      application/json:
        type: WriteShopSerializer

    responses:
      200:
        body:
          application/json:
            type: ShopSerializer

  delete:
    responses:
      200:




