#%RAML 1.0
title: 嘿店开放平台 API
version: v1
baseUri: http://api.heidianer.com


types:
  WriteThemeSerializer:
    type: object
    properties:
      current_preset:
        required: false
        type: string
      private_settings_data:
        required: false
        type: string
      metafield:
        required: false
        type: string
      settings_data:
        required: false
        type: string

  PageConfigPresetSerializer:
    type: object
    properties:
      template_name:
        required: false
        type: string
      settings_data:
        required: false
        type: string
      id:
        required: false
        type: integer
      page_type:
        required: false
        type: string

  ShopAdminUserSerializer:
    type: object
    properties:
      mobile:
        required: false
        type: string
      created_at:
        required: false
        type: string
      updated_at:
        required: false
        type: string
      email:
        required: true
        type: string
      full_name:
        required: false
        type: string
      id:
        required: false
        type: integer

  PlanBillingSerializer:
    type: object
    properties:
      status:
        required: false
        type: string
      ends_at:
        required: false
        type: string
      title:
        required: false
        type: string
      order_number:
        required: false
        type: string
      order_token:
        required: false
        type: string
      starts_at:
        required: false
        type: string
      plan_period:
        required: true
        type: string
      billing_type:
        required: false
        type: string
      plan_name:
        required: true
        type: string
      id:
        required: false
        type: integer

  WritePageConfigPresetSerializer:
    type: object
    properties:

  ScriptTagSerializer:
    type: object
    properties:
      src:
        required: false
        type: string
      metafield:
        required: false
        type: string
      created_at:
        required: false
        type: string
      updated_at:
        required: false
        type: string
      display_scope:
        required: false
        type: string
      content:
        required: false
        type: string
      id:
        required: false
        type: integer

  ThemePresetSerializer:
    type: object
    properties:
      screenshot_mobile:
        required: false
        type: string
      pageconfigs:
        required: false
        type: PageConfigPresetSerializer[]
      metafield:
        required: false
        type: string
      name:
        required: false
        type: string
      screenshot:
        required: false
        type: string
      title:
        required: false
        type: string
      color:
        required: false
        type: string
      settings_data:
        required: false
        type: string
      id:
        required: false
        type: integer
      assets:
        required: false
        type: string

  ThemeSerializer:
    type: object
    properties:
      current_preset:
        required: false
        type: string
      presets:
        required: false
        type: ThemePresetSerializer[]
      settings_schema:
        required: false
        type: string
      name:
        required: false
        type: string
      title:
        required: false
        type: string
      private_settings_data:
        required: false
        type: string
      version:
        required: false
        type: string
      is_current:
        required: false
        type: boolean
      metafield:
        required: false
        type: string
      id:
        required: false
        type: integer
      settings_data:
        required: false
        type: string

  WriteShopSerializer:
    type: object
    properties:
      website:
        required: false
        type: string
      metafield:
        required: false
        type: string
      slogan:
        required: false
        type: string
      description:
        required: false
        type: string
      title:
        required: false
        type: string
      identification_type:
        required: false
        type: string
      phone:
        required: false
        type: string
      favicon:
        required: false
        type: string
      email:
        required: false
        type: string
      address:
        required: false
        type: string
      logo:
        required: false
        type: string
      company:
        required: false
        type: string

  UserSerializer:
    type: object
    properties:
      username:
        required: true
        type: string
      shop:
        required: false
        type: ShopSerializer
      email:
        required: true
        type: string
      last_login:
        required: false
        type: string
      password:
        required: true
        type: string
      id:
        required: false
        type: integer
      date_joined:
        required: false
        type: string

  PlanSerializer:
    type: object
    properties:
      ends_at:
        required: false
        type: string
      name:
        required: false
        type: string
      days_left:
        required: false
        type: string
      title:
        required: false
        type: string
      active_billing:
        required: true
        type: PlanBillingSerializer
      period:
        required: false
        type: string
      can_publish_products:
        required: false
        type: string
      starts_at:
        required: false
        type: string
      next_billing:
        required: true
        type: PlanBillingSerializer
      is_expired:
        required: false
        type: string
      id:
        required: false
        type: integer

  WriteThemePresetSerializer:
    type: object
    properties:
      metafield:
        required: false
        type: string
      title:
        required: false
        type: string

  WriteScriptTagSerializer:
    type: object
    properties:
      content:
        required: false
        type: string
      src:
        required: false
        type: string
      metafield:
        required: false
        type: string
      display_scope:
        required: false
        type: string

  WritePlanSerializer:
    type: object
    properties:
      next_billing:
        required: true
        type: PlanBillingSerializer
      active_billing:
        required: true
        type: PlanBillingSerializer

  WritePlanBillingSerializer:
    type: object
    properties:
      plan_period:
        required: true
        type: string
      plan_name:
        required: true
        type: string

  WriteUserSerializer:
    type: object
    properties:
      username:
        required: true
        type: string
      password:
        required: true
        type: string
      last_login:
        required: false
        type: string
      email:
        required: true
        type: string
      date_joined:
        required: false
        type: string

  ShopSerializer:
    type: object
    properties:
      domain:
        required: false
        type: string
      identification_type:
        required: false
        type: string
      address:
        required: false
        type: string
      updated_at:
        required: false
        type: string
      favicon:
        required: false
        type: string
      logo:
        required: false
        type: string
      id:
        required: false
        type: integer
      metafield:
        required: false
        type: string
      title:
        required: false
        type: string
      payment_channels:
        required: false
        type: string
      theme:
        required: false
        type: ThemeSerializer
      email:
        required: false
        type: string
      website:
        required: false
        type: string
      description:
        required: false
        type: string
      company:
        required: false
        type: string
      phone:
        required: false
        type: string
      plan:
        required: false
        type: PlanSerializer
      wechat_app_id:
        required: false
        type: string
      slogan:
        required: false
        type: string
      name:
        required: false
        type: string
      notifications:
        required: false
        type: string
      created_at:
        required: false
        type: string
      script_tags:
        required: false
        type: ScriptTagSerializer[]

  WriteShopAdminUserSerializer:
    type: object
    properties:
      mobile:
        required: false
        type: string
      email:
        required: true
        type: string
      full_name:
        required: false
        type: string




/api/users/user/:
  get:
    queryParameters:
      page:
        required: false
        type: integer
      page_size:
        required: false
        type: integer

    responses:
      200:
        body:
          application/json:
            schema: UserSerializer[]



/api/users/user/change_password/:
  put:
    body:
      application/json:
        schema: WriteUserSerializer

    responses:
      200:
        body:
          application/json:
            schema: UserSerializer



/api/users/user/{pk}/:
  get:
    responses:
      200:
        body:
          application/json:
            schema: UserSerializer



/api/users/shopadmin/:
  get:
    queryParameters:
      page:
        required: false
        type: integer
      page_size:
        required: false
        type: integer

    responses:
      200:
        body:
          application/json:
            schema: ShopAdminUserSerializer[]



/api/users/shopadmin/auth/:
  post:
    body:
      application/json:
        schema: WriteShopAdminUserSerializer

    responses:
      200:
        body:
          application/json:
            schema: ShopAdminUserSerializer



/api/users/shopadmin/change_password/:
  put:
    body:
      application/json:
        schema: WriteShopAdminUserSerializer

    responses:
      200:
        body:
          application/json:
            schema: ShopAdminUserSerializer



/api/users/shopadmin/create_shop/:
  post:
    body:
      application/json:
        schema: WriteShopAdminUserSerializer

    responses:
      200:
        body:
          application/json:
            schema: ShopAdminUserSerializer



/api/users/shopadmin/{pk}/:
  get:
    responses:
      200:
        body:
          application/json:
            schema: ShopAdminUserSerializer



/api/users/shop/:
  post:
    body:
      application/json:
        schema: WriteShopSerializer

    responses:
      200:
        body:
          application/json:
            schema: ShopSerializer

  get:
    queryParameters:
      page:
        required: false
        type: integer
      page_size:
        required: false
        type: integer

    responses:
      200:
        body:
          application/json:
            schema: ShopSerializer[]



/api/users/shop/{pk}/:
  put:
    body:
      application/json:
        schema: WriteShopSerializer

    responses:
      200:
        body:
          application/json:
            schema: ShopSerializer

  get:
    responses:
      200:
        body:
          application/json:
            schema: ShopSerializer

  delete:
    responses:
      200:
        body:
          application/json:
            schema: ShopSerializer

  patch:
    body:
      application/json:
        schema: WriteShopSerializer

    responses:
      200:
        body:
          application/json:
            schema: ShopSerializer


